<div class="home-content">
    <div class="logo-wrapper">
        <p class="logo-text">
            Silk Framework
        </p>
    </div>
    <img class="img1" src="assets/icons/img1.png" height="300" alt="logo">
    <img class="img2" src="assets/icons/img2.png" height="300" alt="logo">
    <div class="left-content">
        <h1 class="title">Simple & Fast</h1>
        <p class="description">
            Silk is a simple and lightweight C# Backend Framework for building web services. 
            It is designed to be simple and easy to use, 
            while still providing the power and flexibility needed for complex applications.
        </p><br><br>
        <div class="budget-version">
            <span class="info">
                Available on NuGet
            </span>
            <span class="download">
                <a href="https://www.nuget.org/packages/SilkFramework" rel="opener noreferrer noopener" target="_blank"
                    class="download-link"> Download it now! </a>
            </span>
        </div>
        <p class="description">
            This is the perfect framework for developers who want to build web services quickly and easily, 
            we want to escale the framework to be the best option for developers who want to build web services in C#.
        </p>
        <h3>Why?</h3>
        <p class="description">
            Many times we need to build a web service quickly and bit complex, We need a fast and light framework, without complications
        </p>
    </div>
</div>