<div class="init-content" @fadeIn>
    <div class="budget-version">
        <span class="info">
            Silk Framework 0.1.6.24 is now available!
        </span>
        <span class="download">
            <a href="https://www.nuget.org/packages/SilkFramework" 
            rel="opener noreferrer noopener"
            target="_blank"
            class="download-link"> Download it now! </a>
        </span>
    </div>
    <div class="logo-wrapper">
        <img class="logo" src="assets/icons/worm.png"
        height="300"
        alt="logo">
        <p class="logo-text">
            Silk Framework
        </p>
    </div>
</div>

