
@if (collapsed) {asdf
    <div class="collapsed-menu">
asdf
    </div>
} @else {
    <div [className]="!submenu ? 'menu-container' : 'sub-menu' ">
        @if (!submenu) {
        <div class="menu-header" (click)="titleClick()">
            <span class="title">
                Silk
            </span>
            <span class="sub-title">
                Simple & fast
            </span>
        </div>
        }
        <div class="menu-content" (click)="onSubmenuClick">
            <ng-content select="app-menu-element" #menuElements>
            </ng-content>
        </div>
    </div>
}
