.wrapper {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100vh;
}

.left-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 200px;border-right: 1px solid var(--gray-600);
    & span {
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            color: var(--vivid-pink);
        }

        &.selected {
            color: var(--vivid-pink);
        }
    
    }
}

.doc-content {
    padding-block: 2rem;
    padding-inline: 1rem;
    overflow: auto;
    width: 100%;
}