<div class="content">
    <h1 class="title">
        About <strong>Silk Framework</strong>!
    </h1><br><br><br>
    <h4>Why develop it?</h4>
    <p>
        <span class="budget">History</span>: As a Full-stack developer focused on Front-end and a lover of design, I have always had the need to create fast
        Back-ends, what I find are giant back-ends to simply make a functional mock for my projects. If I use ASP the library is
        more complex than necessary, if I use Node.Js the project folder occupies 80 Mb <span class="budget">(thanks node_modules)</span> to return two
        JSON. WHY!?
    </p>
    <p>
        I have always been a fan of C #, I have always loved the language, the syntax, the performance, and the community. So I
        decided to create a simple and lightweight framework for building web services in C #. I want to make it easy to use, while
        still providing the power and flexibility needed for complex applications.
    </p>
    <h6>Thanks for reading!, and gool luck with your projects!</h6>
</div>